@media (max-width: 768px) {
  .navbar-fixed-side {
    margin-left: -15px;
    margin-right: -15px
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side {
    position: fixed;
    margin: 0 -15px;
    height: 100vh;
    width: inherit;
    overflow: auto;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
  }
  .navbar-fixed-side .container, .navbar-fixed-side .container-fluid {
    width: auto;
    padding-left: 0;
    padding-right: 0
  }
  .navbar-fixed-side .navbar-header {
    float: none
  }
  .navbar-fixed-side .navbar-brand {
    height: auto
  }
  .navbar-fixed-side>.container .navbar-brand, .navbar-fixed-side>.container-fluid .navbar-brand {
    margin-left: 0
  }
  .navbar-fixed-side .navbar-collapse {
    width: 100%;
    border-top: 1px solid #e7e7e7
  }
  .navbar-fixed-side .navbar-nav {
    float: none;
    margin: 0 -15px
  }
  .navbar-fixed-side .navbar-nav>li {
    float: none
  }
  .navbar-fixed-side .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7
  }
  .navbar-fixed-side .navbar-form {
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #e7e7e7
  }
  .navbar-fixed-side .navbar-text {
    float: none;
    margin-left: 0;
    margin-right: 0
  }
  .navbar-fixed-side .navbar-left, .navbar-fixed-side .navbar-right {
    float: none !important
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #e7e7e7
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a, .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a {
    line-height: 20px;
    color: #777
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
    background-image: none
  }
  .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
    background-color: #e7e7e7;
    color: #555
  }
  .navbar-fixed-side .navbar-nav>li>a:hover, .navbar-fixed-side .navbar-nav>li>a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
    background-color: #f0f0f0;
    color: #333
  }
  .navbar-fixed-side .dropdown>.dropdown-toggle, .navbar-fixed-side .dropdown-menu>.dropdown-header {
    background-color: transparent !important;
    color: #9d9d9d !important;
    cursor: default;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: none;
    padding-bottom: 0
  }
  .navbar-fixed-side .dropdown-toggle .caret {
    display: none
  }
  .navbar-fixed-side .dropdown-menu {
    display: block
  }
  .navbar-fixed-side.navbar-inverse .navbar-collapse, .navbar-fixed-side.navbar-inverse .navbar-nav>li>a, .navbar-fixed-side.navbar-inverse .navbar-form, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
    border-color: #363636
  }
  .navbar-fixed-side.navbar-inverse .divider {
    background-color: #363636
  }
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    color: #9d9d9d
  }
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a {
    background-color: #090909;
    color: #fff
  }
  .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.active)>a:focus, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus {
    background-color: #2f2f2f;
    color: #fff
  }
  .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle {
    color: #777777 !important
  }
}


/* .navbar {
  background-color: rgba(252,145,58, 0.6);
} */

#newsletter {
  background-color: rgba(255, 255, 255, 0.95);
}

#list-contact li {
  padding-top: 1em;
}

a {
  color: #2477d0;
}

a:visited {
  color: #1d5ea5;
}

h2.hidey {
  font-size: 0;
  position: absolute;
  /*
  z-index: -1000;
*/
}

.gallery {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.gallery li {
  list-style: none;
  margin-bottom: 15px;
}

#img_pointer li img {
  cursor: pointer;
  /*
        margin-bottom: 5px;
        margin-right: 5px;
        margin-top: 5px;
        margin-left: 5px;
*/
}

.subtitle {
  text-align: center;
  font-size: 0.9em;
}

.modal-body {
  padding: 3px 0px 5px 0px !important;
}

.modal-content {
  border-radius: 5;
}

.modal-dialog img {
  text-align: center;
  margin: 0 auto;
}

.close {
  margin-bottom: 5px;
  margin-right: 10px;
  /*
			margin-top: 5px;
*/
}

.controls {
  width: 50px;
  display: block;
  font-size: 1em;
  padding-top: 3px;
}

.next {
  float: right;
  text-align: right;
  margin-right: 10px;
}

.previous {
  margin-left: 10px;
}

sup {
  font-size: 0.75em;
  line-height: 0.5em;
  vertical-align: text-top;
}

span.SupFootMarker {
  color: #0030c0;
  font-size: 0.75em;
  line-height: 0.5em;
  vertical-align: text-top;
}

div.EndFoot {
  margin: 0.2ex;
  padding: 0.5ex;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1.5em;
  text-align: left;
}

span.HoverFoot {
  margin: 0.2ex;
  border: thin solid #c0c0c0;
  background: #ffffff;
  padding: 0.5ex;
  font-size: small;
  font-weight: normal;
  line-height: 1.5em;
  text-align: left;
}

span.FootOuter .HoverFoot {
  display: none;
  position: absolute;
}

span.FootOuter:hover .HoverFoot {
  display: inline;
  float: none;
}

#warning {
  width: 100%;
  margin: 0;
  color: white;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#masthead {
  width: 100%;
  margin: 0;
}

#masthead .masthead-inner {
  height: 70px;
}

#top-menu {
  position: absolute;
  bottom: 0px;
  margin: 0;
}

#top-menu li {
  float: left;
}

#top-menu a {
  display: block;
  padding: 5px 14px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.15);
}

#top-menu a.active {
  background-color: rgba(231, 231, 231, 0.85);
  color: black;
}

#masthead .masthead-bottom {
  height: 30px;
}

#bottom-menu {
  position: absolute;
  bottom: 0px;
  margin: 0;
  border-bottom: 1px dotted #ccc;
  border-top: 1px dotted #ccc;
}

#bottom-menu li {
  float: left;
}

#bottom-menu a {
  display: block;
  padding: 5px 14px;
  color: black;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(231, 231, 231, 1);
}

@media only screen and (max-width: 500px) {
  #top-menu a {
    padding: 5px 6px;
    font-size: 12px;
  }
  .modal-dialog {
    width: 500px;
    padding-top: 90px;
  }
}

.navbar a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.navbar li a:hover {
  color: black;
  background-color: rgba(161, 191, 107, 1);
}

.navbar li.active a {
  color: black;
  background-color: rgba(161, 191, 107, 1);
}

.navbar ul {
  margin-bottom: 20px;
}

.navbar li {
  line-height: 0.9;
}

.navbar li:nth-child(odd) {
  background-color: rgba(218, 218, 218, 1);
}

.navbar h2 {
  color: black;
  padding: 10px;
  margin-top: 0px;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}

.navbar h3 {
  color: black;
  padding: 10px;
  margin-top: 0px;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}

.language-selection {
  text-align: center;
  padding: 0;
  margin: 0;
}

.language-selection li {
  display: inline-block;
  width: auto;
  margin: 0 6px;
  padding: 6px 8px;
  background-color: transparent;
}

.language-selection li.active {
  background-color: rgba(161, 191, 107, 1);
}

.language-selection li:hover {
  background-color: #ddd;
}

.language-selection li a:hover {
  background-color: transparent;
}

h3 {
  margin-top: 50px;
  border-bottom: 1px dotted #ccc;
}

.title {
  margin-top: 30px;
  color: black;
  background-color: rgba(249, 214, 46, 0.6);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.title-small {
  color: black;
  background-color: rgba(161, 191, 107, 0.8);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

.jumbotron {
  background: url("../img/uzume_banner.png") no-repeat center center;

  background-color: rgba(231, 231, 231, 0.5);
  background-size: cover;
  margin: 0 0 0 0;
  width: 100%;
  height: 250px;
}

#header-title {
  color: white;
  text-align: center;
}

.title-box {
  color: black;
  background-color: rgba(231, 231, 231, 0.5);
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}

.title-box h1 {
  margin: 0;
}

.content-box {
  padding: 15px;
  background-color: white;
}
#navigation li.level2 a {
  padding-left: 35px;
}
#sidebar .sidebar-addendum {
  margin-top: 15px;
}
@media (max-width: 768px) {
  #sidebar {
    padding-right: 15px;
  }

  .modal-dialog {
    width: 500px;
    padding-top: 90px;
  }
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 0px;
  padding: 0 0 0px;
}
#footer {
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
#footer #footer-inner {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  #footer .footer-text {
    font-size: 80%;
    margin: 0 2px;
  }
}
#footer .footer-text {
  text-align: right;
  padding-top: 10px;
}
#footer .footer-text a, #footer .footer-text {
  color: #FFFFFF;
  margin: 4px 5px;
}
#header {
  padding-bottom: 0px;
  margin-left: -15px;
  margin-right: -15px;
}
#header #header-inner {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  #header .header-text {
    font-size: 80%;
    margin: 0 2px;
  }
}
#header .header-text {
  text-align: center;
  /*padding-top: 10px;*/
}
#header .header-text a, #header .header-text {
  color: #FFFFFF;
  margin: 4px 5px;
}
.image-right {
  margin-left: 15px;
  margin-bottom: 15px;
}
a.ref {
  color: rgba(0, 0, 0, 0.5);
}

.feed {
  border: 1px dotted #ccc;
}
.feed .item {
  border-top: 1px dotted #ccc;
  padding: 15px;
}
.feed .item .label {
  font-size: 1em;
  white-space: normal !important;
  display: block;
  text-align: left;
  padding: 6px;
  line-height: 1.3em;
}
.feed .item .date {
  font-style: italic;
  line-height: 2em;
}
.feed h2 {
  /*
			font-weight: bold;
*/

  font-size: 1.3em;
  line-height: 1.5em;
  padding: 10px;
  margin: 0;
  background: #f9f9f9;
}
@media screen and (max-width:1500px) {
  #ads {
    display: none;
  }
}

/* Makes images fully responsive */
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
.carousel-inner {
  border-radius: 15px;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* Carousel base class */

/* ------------------- Section Styling - Not needed for carousel styling ------------------- */
.section-white {
  padding: 10px 0;
}
.section-white {
  background-color: #fff;
  color: #555;
}
@media screen and (min-width: 768px) {
  .section-white {
    padding: 1.5em 0;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}
