a {
  color: #2477d0; }

a:visited {
  color: #1d5ea5; }

.content-box h1:first-child, .content-box h2:first-child {
  margin-top: 0px !important; }

h2.hidey {
  font-size: 0;
  position: absolute;
  z-index: -1000; }
    #gallery {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    
    #gallery li {
        list-style: none;
        margin-bottom: 25px;
    }
    
    #gallery li img {
        cursor: pointer;
    }
    


#masthead {
  width: 100%;
  margin: 0; }
  #masthead .masthead-inner {
    height: 80px;
		}
#top-menu {
  position: absolute;
  bottom: 0px;
  margin: 0; 
  }
  #top-menu li {
    float: left; }
  #top-menu a {
    display: block;
    padding: 5px 14px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.15); }
  #top-menu a.active {
    background-color: rgba(239, 239, 239, 0.85);
    color: black;
    }

@media only screen and (max-width: 500px) {
  #top-menu a {
    padding: 5px 6px;
    font-size: 12px; } 
    .modal-dialog {
            width: 500px;
            padding-top: 90px;
        }
        }
#main {
  margin-top: 0px; }

body {
	/* Background pattern from subtlepatterns.com */
  background-image: url(images/congruent_pentagon.png); 
  }

.shadow-box {
  background-color: rgba(255, 255, 255, 0.95);
  }

.title-box {
  color: black;
  background-color: rgba(239, 239, 239, 1);

  padding: 20px;
  border-bottom: 1px dotted #ccc; }
  .title-box h1 {
    margin: 0; }
  .title-box .summary {
    color: #666;
    line-height: 1.3em;
    font-size: 115%;
    margin-top: 8px;
    margin-left: 10px;
    }

.content-box {
  padding: 15px; }

#sidebar {
  padding-right: 0;
  margin-bottom: 15px; }
  #sidebar #navigation {
    background-color: #eee;
    border: 1px solid #bbb;
    box-shadow: 1px 1px 4px #CCC9C3; }
  #sidebar ul.nav.nav-pills.nav-stacked li a {
    color: #666;
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px; }
  #sidebar ul.nav.nav-pills.nav-stacked li.active a {
    background-color: #CCC9C4;
    color: #000; }
  #sidebar li.level2 a {
    padding-left: 30px; }
  #sidebar li.level3 a {
    padding-left: 45px; }
  #sidebar .sidebar-addendum {
    margin-top: 15px; }
    
    

@media (max-width: 768px) {
  #sidebar {
    padding-right: 15px; } 
    .modal-dialog {
            width: 500px;
            padding-top: 90px;
        }
        }
html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -70px;
  padding: 0 0 70px; }
  
#footer {
  padding-top: 20px; }
  #footer #footer-inner {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3 );
    }

@media (max-width: 767px) {
  #footer .footer-text {
    font-size: 80%;
    margin: 0 2px; } }
#footer .footer-text {
  text-align: right;
  padding-top: 10px; }
  #footer .footer-text a, #footer .footer-text {
    color: #FFFFFF;
    margin: 4px 5px; }

.image-right {
  margin-left: 15px;
  margin-bottom: 15px; }

.logo {
  min-height: 110px;
  padding-left: 290px;
  padding-top: 15px;
  background: url(images/logo_uzume2.png) no-repeat; 
  }
  

@media only screen and (max-width: 590px) {
  .logo {
    padding-left: 94px;
    padding-top: 65px; } }
.feed {
  border: 1px dotted #ccc; }
  .feed .item {
    border-top: 1px dotted #ccc;
    padding: 15px; }
    .feed .item .label {
      font-size: 1em;
      white-space: normal !important;
      display: block;
      text-align: left;
      padding: 6px;
      line-height: 1.3em; }
    .feed .item .date {
      font-style: italic;
      line-height: 2em; }
  .feed h2 {
/*
			font-weight: bold;
*/
			font-size: 1.3em;
    line-height: 1.5em;
    padding: 10px;
    margin: 0;
    background: #f9f9f9; }
    @media screen and (max-width:1500px) {
        #ads {
            display: none;
        }
    }
